body {
    text-align: center;
    background: #ecf0f1;
    padding-top: 20px;
  }

.contenedor {
    font-size: 100px;
    text-align: center;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    color: #fff;
    padding: 7px 20px;
    white-space: nowrap;
    border-radius: 20px;
    margin: 10px 5px;
  }